{
    "env": {
        "browser": true,
        "jquery": true,
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true,
    },
    "rules": {
        semi: [2, "always"],
        "no-mixed-spaces-and-tabs": [2],
        "no-trailing-spaces": [1],
        "space-infix-ops": [1],
        "quotes": [1, "single"],
        "no-underscore-dangle": [0],
        "no-unused-vars": 2,
        "no-use-before-define": 2
    }
}